<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Board">
<select id ="boardlist" resultType="com.my.project.model.BoardVO">
	SELECT 	BNO,
			TITLE,
			CONTENT,
			WRITER,
			TO_CHAR(REGDATE,'YYYY-MM-DD HH:MI:SS') REGDATE,
			TO_CHAR(UPDATEDATE,'YYYY-MM-DD HH:MI:SS') UPDATEDATE
	FROM BOARD
	ORDER BY BNO DESC
</select>

<!-- <insert id="boardwrite" >
	INSERT INTO BOARD (BNO,TITLE,CONTENT,WRITER,REGDATE,UPDATEDATE)
	VALUES()
</insert> -->

</mapper>

